<%- include('layout/header') %>

<div class="container">
    <%- include('layout/messages') %> 
    <h1 class="mb-3 ">Adding a New Book</h1>
    <form action="/modify/addBook" method="post" class="row g-3">
        
        <!-- book name -->
        <div class="col-md-6">
            <label for="bookName" class="form-label">Book Name</label>
            <input type="text" class="form-control" list="bookNamesList" id="bookName" name="bookName" required placeholder="Ex. Atomic Habit" autocomplete="off">
            <!-- make a datalist -->
            <datalist id="bookNamesList">
                <% books.forEach(book => { %> 
                    <option><%= book.bookName %></option>
                <%}) %>
            </datalist>
        </div>

        <!-- book author -->
        <div class="col-md-6">
            <label for="authorName" class="form-label">Author Name</label>
            <input class="form-control" list="authorNamesList" id="authorName" placeholder="Type Author Name..." name="authorName" autocomplete="off">
            <datalist id="authorNamesList">
                <% authors.forEach(author => { %> 
                    <option><%= author.authorName %></option>
                <%}) %>
            </datalist>
        </div>

        
        <!-- book genre -->
        <div class="col-md-6">
            <label for="genreId" class="form-label">Book Genre</label> 
            <select class="form-select " aria-label="Default select example" id="genreId" name="genreId" onchange="addNewGenre(this);" required>
                <!-- make a list for the genre -->
                <option selected disabled value="">Choose Genre</option >
                <% genres.forEach(genre => { %>
                    <option value="<%= genre.genreId %>"><%= genre.genreName %></option>
                <% }) %>
                <option value="-1">Add New Genre...</option>
            </select>

            <!-- one is hidden and the other is shown, when the user choose "Add new Author the second will be shown" -->
            <div class="input-group mb-3 d-none" id="genreNameInputGroup">
                <input class="form-control" type="text" id="genreName" name="genreName" placeholder="Ex. Novel" autocomplete="off" value="empty" list="genreNamesList" required>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" id="backToGenreId" type="button" onclick="selectGenre();">back</button>
                </div>
                <datalist id="genreNamesList">
                    <% genres.forEach(genre => { %> 
                        <option><%= genre.genreName %></option>
                    <%}) %>
                </datalist>
            </div>
            
        </div>

        <!-- book pages -->
        <div class="col-md-3">
            <label for="bookPages" class="form-label">Book pages</label>
            <input type="number" class="form-control" id="bookPages" name="bookPages" placeholder="Ex. 252" >
        </div>


        <!-- read or no -->
        <div class="col-md-3">
            <div class="form-check mt-4">
                <input class="form-check-input" type="radio" name="didRead" id="didRead" value="1">
                <label class="form-check-label" for="didRead">
                  I Did read the book
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="didRead" id="didNotRead" value="0" checked>
                <label class="form-check-label" for="didNotRead">
                  I Didn't read the book
                </label>
              </div>
        </div>

        <!-- submit button -->
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Add Book</button>
        </div>

    </form>

</div>

<%- include('layout/footer') %>