<%- include('layout/header') %>
<%- include('layout/messages') %> 

    <div class="container px-3">

        
            <h1 class="mt-5">User</h1>
            <h3><%= user.userId %> </h3>
        
            <h1 class="mt-5">Books</h1>
            <% for( let i = 0; i < books.length; i++ ) { %>
                <h3><%= books[i].bookName %> </h3>
            <% } %>
            
            <h1 class="mt-5">Authors</h1>
            <% for( let i = 0; i < authors.length; i++ ) { %>
                <h3><%= authors[i].authorName %> </h3>
            <% } %>
            
            <h1 class="mt-5">Genres</h1>
            <% for( let i = 0; i < genres.length; i++ ) { %>
                <h3><%= genres[i].genreName %> </h3>
            <% } %>
        
            
    </div>



<%- include('layout/footer') %>