<%- include('layout/header') %>


<div class="container mt-5">
  <%- include('layout/messages') %> 
    <!-- The search bar -->
    <div class="container px-3">
        <div class="input-group rounded w-80">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="searchAuthor" id="searchAuthor" onkeyup="searchAuthor(this.value);"/>
            <span class="input-group-text border-0" id="search-addon">
            <i class="bi bi-search"></i>
            </span>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <!-- The authors cards -->
            <% authors.forEach(author => { %>
                <% if (author.Books.length != 0) { %>
                    <div class="col-sm-3 my-2">
                        <div class="card text-white bg-secondary border-dark zoom">
                            <div class="card-header">
                                <h5 class="card-title"><%= author.authorName %></h5>
    
                            </div>
                            <div class="card-body">
                                <p class="card-text">has <%= author.Books.length %> books</p>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }) %>
        </div>
    </div>


</div>
<%- include('layout/footer') %>