<%- include('layout/header') %>


<div class="container p-auto mt-5">

  <div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <!-- make a special condition for the first author -->
      <% for( let i = 0; i < authors.length; i++ ) { %>
        <% if (i==0) { %>
          <button class="nav-link active btn-secondary btn bg-secondary text-white " id="v-pills-<%= authors[i].author_id %>-tab" data-bs-toggle="pill" data-bs-target="#v-pills-<%= authors[i].author_id %>" type="button" role="tab" aria-controls="v-pills-<%= authors[i].author_id %>" aria-selected="true"><%= authors[i].author_name %></button>
        <% } else { %>
          <button class="nav-link btn-secondary btn bg-secondary text-white mt-1" id="v-pills-<%= authors[i].author_id %>-tab" data-bs-toggle="pill" data-bs-target="#v-pills-<%= authors[i].author_id %>" type="button" role="tab" aria-controls="v-pills-<%= authors[i].author_id %>" aria-selected="false"><%= authors[i].author_name %></button>
        <% } %>
      <% } %>
      
      
    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <% for( let i = 0; i < authors.length; i++ ) { %>
        <!-- make a special condition for the first author -->
        <% if (i==0) { %>
          <div class="tab-pane fade show active" id="v-pills-<%= authors[i].author_id %>" role="tabpanel" aria-labelledby="v-pills-<%= authors[i].author_id %>-tab">
            <h3 class="my-3">Books Count: <%= authors[i]['COUNT(books.book_id)'] %> </h3>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">name</th>
                  <th scope="col">pages</th>
                  <th scope="col">genre</th>
                  <th scope="col">book copy</th>
                  <th scope="col">loaned</th>
                  <th scope="col">did read</th>
                </tr>
              </thead>
              <tbody>
                <% for( let j = 0; j < books.length; j++ ) { %>
                  <% if (books[j].author_id == authors[i].author_id) { %>
                    <tr>
                      <td><%= books[j].book_name %> </td>
                      <% if (books[j].book_pages) { %>
                        <td><%= books[j].book_pages %></td>
                      <% } else { %>
                        <td>unknown</td>
                      <% } %>
                      <td><%= books[j].genre_name %> </td>
                      <td><%= books[j].book_copy %> </td>
                      <% if (books[j].reader_id == 0) { %>
                        <td>NO</td>
                      <% } else { %>
                        <td><%= books[j].reader_name %> </td>
                      <% } %>
        
                      <% if (books[j].did_read == 1) { %>
                        <td>YES</td>
                      <% } else { %>
                        <td>NO</td>
                      <% } %>
                    </tr>
                  <% } %>
                  
                <% } %>
      
              </tbody>
            </table>

          </div>    
        <% } else { %>
          <div class="tab-pane fade" id="v-pills-<%= authors[i].author_id %>" role="tabpanel" aria-labelledby="v-pills-<%= authors[i].author_id %>-tab">
            <h3 class="my-3">Books Count: <%= authors[i]['COUNT(books.book_id)'] %> </h3>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">name</th>
                  <th scope="col">pages</th>
                  <th scope="col">genre</th>
                  <th scope="col">book copy</th>
                  <th scope="col">loaned</th>
                  <th scope="col">did read</th>
                </tr>
              </thead>
              <tbody>
                <% for( let j = 0; j < books.length; j++ ) { %>
                  <% if (books[j].author_id == authors[i].author_id) { %>
                    <tr>
                      <td><%= books[j].book_name %> </td>
                      <td><%= books[j].book_pages %> </td>
                      <td><%= books[j].genre_name %> </td>
                      <td><%= books[j].book_copy %> </td>
                      <% if (books[j].reader_id == 0) { %>
                        <td>NO</td>
                      <% } else { %>
                        <td><%= books[j].reader_name %> </td>
                      <% } %>
        
                      <% if (books[j].did_read == 1) { %>
                        <td>YES</td>
                      <% } else { %>
                        <td>NO</td>
                      <% } %>
                    </tr>
                  <% } %>
                  
                <% } %>
      
              </tbody>
            </table>
            
          </div>
        <% } %>
      <% } %>
      
      
      
    </div>
  </div>

</div>



<%- include('layout/footer') %>