<%- include('layout/header') %>


<div class="container mt-5">
  <!-- The Nav Header -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active fs-5" data-bs-toggle="tab" href="#allBooks">All Books</a>
    </li>

    <!-- A loop for each genre Header -->
    <% genres.forEach(genre => { %>
      <li class="nav-item">
        <a class="nav-link fs-5" data-bs-toggle="tab" href="#genre<%= genre.genreId %>"><%= genre.genreName %></a>
      </li>
    <% }) %>
  </ul>


  <!-- The nave Body -->
  <div id="myTabContent" class="tab-content">
    <!-- The part of the all books -->
    <div class="tab-pane fade active show " id="allBooks">
      <div class="container mt-3">
        <h3 class="my-3">Books Count: <%= books.count %> </h3>
        <table class="table ">
        <!-- <table class="table table-striped table-hover table-primary"> -->
          <thead>
            <tr>
              <th scope="col">name</th>
              <th scope="col">author</th>
              <th scope="col">pages</th>
              <th scope="col">genre</th>
              <th scope="col">book copy</th>
              <th scope="col">loaned</th>
              <th scope="col">did read</th>
            </tr>
          </thead>
          <tbody>
            <% books.rows.forEach(book => { %>
              <tr>
                <td><%= book.bookName %> </td>
                <% if (book.Author) { %>
                  <td><%= book.Author.authorName %></td>
                <% } else { %>
                  <td>unKnown</td>
                <% } %>
                <% if (book.bookPages) { %>
                  <td><%= book.bookPages %></td>
                <% } else { %>
                  <td>unknown</td>
                <% } %>
                <td><%= book.Genre.genreName %> </td>
                <td><%= book.bookCopy %> </td>
                <% if (book.Loaner) { %>
                  <td><%= book.Loaner.loanerName %></td>
                  <% } else { %>
                    <td>NO</td>
                <% } %>
  
                <% if (book.didRead == 1) { %>
                  <td>YES</td>
                <% } else { %>
                  <td>NO</td>
                <% } %>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- A loop for each genre -->
    <% genres.forEach(genre => { %>
      <div class="tab-pane fade" id="genre<%= genre.genreId %>">
        <!-- The table of the genre -->
        <div class="container mt-3">
          <h3 class="my-3">Books Count: <%= genre.booksCount %> </h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">name</th>
                <th scope="col">author</th>
                <th scope="col">pages</th>
                <th scope="col">book copy</th>
                <th scope="col">loaned</th>
                <th scope="col">did read</th>
              </tr>
            </thead>
            <tbody>
              <% genre.Books.forEach(book => { %>
                <tr>
                  <td><%= book.bookName %> </td>
                  <% if (book.Author) { %>
                    <td><%= book.Author.authorName %></td>
                  <% } else { %>
                    <td>unKnown</td>
                  <% } %>
                  <% if (book.bookPages) { %>
                    <td><%= book.bookPages %></td>
                  <% } else { %>
                    <td>unknown</td>
                  <% } %>
                  <td><%= book.bookCopy %> </td>
                  <% if (book.Loaner) { %>
                    <td><%= book.Loaner.loanerName %></td>
                    <% } else { %>
                      <td>NO</td>
                  <% } %>
    
                  <% if (book.didRead == 1) { %>
                    <td>YES</td>
                  <% } else { %>
                    <td>NO</td>
                  <% } %>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>     
    <% }) %>



  </div>

<%- include('layout/footer') %>