<%- include('layout/header') %>


<div class="container p-3">
    <h1 class="mt-5">Books</h1>
    <form action="/modify/delete/Book" method="post">
        <select name="bookId" id="" required>
            <% for( let i = 0; i < books.length; i++ ) { %>
                <option value="<%= books[i].bookId %>"><%= books[i].bookName %></option>
            <% } %>
        </select>
        <button type="submit">delete</button>
    </form>

    <h1 class="mt-5">Genres</h1>
    <form action="/modify/delete/Genre" method="post">
        <select name="genreId" id="" required>
            <% for( let i = 0; i < genres.length; i++ ) { %>
                <option value="<%= genres[i].genreId %>"><%= genres[i].genreName %></option>
            <% } %>
        </select>
        <button type="submit">delete</button>
    </form>

    <h1 class="mt-5">Authors</h1>
    <form action="/modify/delete/Author" method="post">
        <select name="authorId" id="" required>
            <% for( let i = 0; i < authors.length; i++ ) { %>
                <option value="<%= authors[i].authorId %>"><%= authors[i].authorName %></option>
            <% } %>
        </select>
        <button type="submit">delete</button>
    </form>



</div>




<%- include('layout/footer') %>