<% books.forEach(book => { %>
  <!-- Book Modals -->
    <div class="modal fade" id="book<%= book.bookId %>Modal" tabindex="-1" aria-labelledby="book<%= book.bookId %>Modal" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content">
  
          <!-- The modal header -->
          <div class="modal-header">
            <h5 class="modal-title" id="book<%= book.bookId %>ModalLabel" ><%= book.bookName %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <!-- The book modal info -->
          <div class="book-modal-info" id="book<%= book.bookId %>-modal-info">
            <div class="modal-body">
              <fieldset disabled id="modal">
                <div class="row">
                  <div class="col-12">
                    <div class="mb-3">
                      <label for="disabledBookName" class="form-label">Book Name</label>
                      <input type="text" class="form-control" placeholder="<%= book.bookName %> ">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="mb-3">
                      <label for="disabledAuthorName" class="form-label">Author Name</label>
                      <input type="text" id="disabledTextInput" class="form-control" placeholder="<%=book.Author ? book.Author.authorName : 'unknown' %>">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="disabledGenreName" class="form-label">Genre</label>
                      <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= book.Genre.genreName %> ">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="disabledLoanerName" class="form-label">Loaner</label>
                      <input type="text" id="disabledTextInput" class="form-control" placeholder="Not Loaned">
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label for="disabledGenreNgenre" class="form-label">Book Pages</label>
                      <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= book.bookPages %> ">
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label for="disabledBookCopy" class="form-label">book Copy</label>
                      <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= book.bookCopy %> ">
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-3">
                      <label for="disabledDidRead" class="form-label">did Read</label>
                      <input type="text" id="disabledTextInput" class="form-control" placeholder="<%= book.didRead %> ">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" onclick="changeModalType('<%= book.bookId %>');">Edit</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" >Close</button>
            </div>
          </div>
  
          <!-- The book modal form -->
          <div class="book-modal-form d-none" id="book<%= book.bookId %>-modal-form">
            <form action="/modify/editBook" method="post">
              <div class="modal-body">
  
                <!-- To put the bookId in the request -->
                <input class="d-none" value="<%= book.bookId %>" name="bookId">
                <div class="row">
  
                  <div class="col-12">
                    <div class="mb-3">
                      <label for="bookName" class="form-label">Book Name</label>
                      <input type="text" class="form-control" list="bookNamesList" id="bookName" name="bookName" required placeholder="Ex. Atomic Habit" autocomplete="off" value="<%= book.bookName %>">
                      <!-- make a datalist -->
                      <datalist id="bookNamesList">
                          <% books.forEach(book => { %> 
                              <option><%= book.bookName %></option>
                          <%}) %>
                      </datalist>
                    </div>
                  </div>
  
                  <div class="col-12">
                    <div class="mb-3">
                      <label for="authorName" class="form-label">Author Name</label>
                      <input class="form-control" list="authorNamesList" id="authorName" placeholder="Type Author Name..." name="authorName" autocomplete="off" value="<%=book.Author ? book.Author.authorName : '' %>">
                      <datalist id="authorNamesList">
                        <% authors.forEach(author => { %> 
                        <option><%= author.authorName %></option>
                      <%}) %>
                      </datalist>
                    </div>
                  </div>
  
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="genreId" class="form-label">Genre</label> 
                      <select class="form-select " aria-label="Default select example" id="genreId" name="genreId" onchange="addNewGenre(this);" required>
                          <!-- make a list for the genre -->
                          <option selected value="<%= book.Genre.genreId %>"><%= book.Genre.genreName %></option >
                          <% genres.forEach(genre => { %>
                              <% if (book.Genre.genreId != genre.genreId) { %>
                                <option value="<%= genre.genreId %>"><%= genre.genreName %></option>
                              <% } %>
                          <% }) %>
                          <option value="-1">Add New Genre...</option>
                      </select>
  
                      <!-- one is hidden and the other is shown, when the user choose "Add new Author the second will be shown" -->
                      <div class="input-group mb-3 d-none" id="genreNameInputGroup">
                          <input class="form-control" type="text" id="genreName" name="genreName" placeholder="Ex. Novel" autocomplete="off" value="empty" list="genreNamesList" required>
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="backToGenreId" type="button" onclick="selectGenre();">back</button>
                          </div>
                          <datalist id="genreNamesList">
                              <% genres.forEach(genre => { %> 
                                  <option><%= genre.genreName %></option>
                              <%}) %>
                          </datalist>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-6">
                    <div class="mb-3">
                      <label for="disabledLoanerName" class="form-label">Loaner</label>
                      <input type="text" class="form-control" value="Not Loaned">
                    </div>
                  </div>
  
                  <div class="col-4">
                    <div class="mb-3">
                      <label for="disabledGenreNgenre" class="form-label">Book Pages</label>
                      <input type="text" class="form-control" value="<%= book.bookPages %>" name="bookPages">
                    </div>
                  </div>
                  
                  <div class="col-4">
                    <div class="mb-3">
                      <label for="disabledBookCopy" class="form-label">book Copy</label>
                      <input type="text" class="form-control" value="<%= book.bookCopy %>" name="bookCopy">
                    </div>
                  </div>
  
                  <div class="col-4">
                    <div class="mb-3">
                      <div class="form-check mt-4">
                        <input class="form-check-input" type="radio" name="didRead" id="didRead" value="1">
                        <label class="form-check-label" for="didRead">
                          I Did read the book
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="didRead" id="didNotRead" value="0" checked>
                        <label class="form-check-label" for="didNotRead">
                          I Didn't read the book
                        </label>
                      </div>
  
                      <!-- <label for="disabledDidRead" class="form-label">did Read</label>
                      <input type="text" class="form-control" value="<%= book.didRead %>" name="didRead"> -->
  
                    </div>
                  </div>
                </div>
  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger ms-1 me-auto" data-bs-toggle="modal" data-bs-target="#book<%= book.bookId %>DeleteModal" >Delete</button>
                <button type="button" class="btn btn-info" onclick="changeModalType('<%= book.bookId %>');">back</button>
                <button type="submit" class="btn btn-primary">Save Changes</button>
              </div>
            </form>
          </div>
  
        </div>
      </div>
    </div>


    <!-- Confirmation delete modal -->
    <div class="modal fade" id="book<%= book.bookId %>DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/modify/deleteBook" method="post">
            <input class="d-none" value="<%= book.bookId %>" name="bookId">
            
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirm Book Deletion</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
  
            <div class="modal-body">
              Are you sure you want to delete the <%= book.bookCopy %>th of "<%= book.bookName %> "?
            </div>
  
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">Delete Book</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  <% }) %>